@import '../../node_modules/normalize.css/normalize.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
/* 样式的重置 */
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
header,
menu,
section,
p,
input,
td,
th,
ins {
  padding: 0;
  margin: 0;
}
ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #666;
}
a:hover {
  color: #666;
  text-decoration: underline;
}
i,
em {
  font-style: normal;
}
input,
textarea,
button,
select,
a {
  outline: none;
  border: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: none;
  vertical-align: middle;
}
/* 全局样式 */
body,
textarea,
select,
input {
  font-size: 16px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}
html {
  scrollbar-width: thin;
  scrollbar-color: #d2cfcf transparent;
}
html ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #d2cfcf;
}
html ::-webkit-scrollbar-thumb:hover {
  background-color: #6c6a6a;
  scrollbar-color: #6c6a6a transparent;
}
html ::-webkit-scrollbar-track {
  background-color: transparent;
}
.text-nowrap {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
html ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
html ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #d2cfcf;
}
html ::-webkit-scrollbar-thumb:hover {
  background-color: #6c6a6a;
  scrollbar-color: #6c6a6a transparent;
}
html ::-webkit-scrollbar-track {
  background-color: transparent;
}
.light {
  --bb: 247 247 247;
  --b1: 255 255 255;
  --b2: 251 251 251;
  --b4: 241 241 241;
  --t1: 0 0 0;
  --t3: 155 155 155;
  --t4: 198 198 198;
  --bd: 241 242 242;
  --p: 66 0 64;
  --pt: 66 0 64;
}
.dark {
  --bb: 31 32 37;
  --b1: 38 40 49;
  --b2: 31 32 37;
  --b4: 44 47 58;
  --t1: 255 255 255;
  --t3: 119 119 144;
  --t4: 119 119 144;
  --bd: 60 63 74;
  --p: 66 0 64;
  --pt: 255 255 255;
}
.btn {
  cursor: pointer;
  user-select: none;
  white-space: nowrap;
  border-radius: 4px;
  border-width: 1px;
  border-color: transparent;
  background-color: transparent;
  padding: 5px 12px;
  text-align: center;
  font-weight: 600;
}
.btn:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}
.btn-o {
  border-color: rgb(var(--bd) / var(--tw-border-opacity));
  background-color: rgb(var(--b1) / var(--tw-bg-opacity));
}
.btn-o:hover {
  background-color: rgb(var(--b2) / var(--tw-bg-opacity));
}
.btn-o:hover :is(.dark .dark\:bg-b4\/70) {
  background-color: rgb(var(--b4) / 0.7);
}
.dark .btn-o {
  background-color: rgb(var(--b4) / var(--tw-bg-opacity));
}
.dark .btn-o:disabled {
  background-color: rgb(var(--b4) / var(--tw-bg-opacity));
  color: rgb(var(--t3) / 0.6);
}
.btn-md {
  border-radius: 9999px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  line-height: 24px;
}
